In [23]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\lady fej\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\lady fej\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\lady fej\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\lady fej\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\lady fej\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\lady fej\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

# 1) Importing CSV salary file into Jupyternotebook

In [86]:
import pandas as pd
import csv
import os
import zipfile

In [27]:
# Define the file path
file_path = r"C:/jupyter notebook assignment mod 2\salary_data.csv"

In [29]:
# Read the CSV file
df = pd.read_csv(file_path)

C:\Users\LADY FEJ\AppData\Local\Temp\ipykernel_7456\809542075.py:2: DtypeWarning: Columns (2,3,4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

In [49]:
import pandas as pd

file_path = r"C:\jupyter notebook assignment mod 2\salary_data.csv"
dtypes = {
    2: str,  # Change to appropriate type (int, float, str) based on your data
    3: str,
    4: str,
    5: str
}

df = pd.read_csv(file_path, dtype=dtypes)

print(df.head())
print(df.info())

        EmployeeName                                        JobTitle  \
0     NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1       GARY JIMENEZ                 CAPTAIN III (POLICE DEPARTMENT)
2     ALBERT PARDINI                 CAPTAIN III (POLICE DEPARTMENT)
3  CHRISTOPHER CHONG            WIRE ROPE CABLE MAINTENANCE MECHANIC
4    PATRICK GARDNER    DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)

     BasePay OvertimePay   OtherPay      Benefits   TotalPay  \
0  167411.18        0.00  400184.25  Not Provided  567595.43
1  155966.02   245131.88  137811.38  Not Provided  538909.28
2  212739.13   106088.18   16452.60  Not Provided  335279.91
3   77916.00    56120.71  198306.90  Not Provided  332343.61
4  134401.60     9737.00  182234.59  Not Provided  326373.19

   TotalPayBenefits  Year
0         567595.43  2011
1         538909.28  2011
2         335279.91  2011
3         332343.61  2011
4         326373.19  2011
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 312882 entries, 0 to 312881
Data columns (total 9 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   EmployeeName      312882 non-null  object
 1   JobTitle          312882 non-null  object
 2   BasePay           312882 non-null  object
 3   OvertimePay       312882 non-null  object
 4   OtherPay          312882 non-null  object
 5   Benefits          312882 non-null  object
 6   TotalPay          312882 non-null  float64
 7   TotalPayBenefits  312882 non-null  float64
 8   Year              312882 non-null  int64
dtypes: float64(2), int64(1), object(6)
memory usage: 21.5+ MB
None

In [41]:
import pandas as pd
df = pd.read_csv(r"C:\jupyter notebook assignment mod 2\salary_data.csv", low_memory=False)
print("Column names:")
print(df.columns)
print("\nFirst few rows:")
print(df.head())

# Display basic information about the DataFrame
print("\nDataFrame Info:")
print(df.info())

Column names:
Index(['EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year'],
      dtype='object')

First few rows:
        EmployeeName                                        JobTitle  \
0     NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1       GARY JIMENEZ                 CAPTAIN III (POLICE DEPARTMENT)
2     ALBERT PARDINI                 CAPTAIN III (POLICE DEPARTMENT)
3  CHRISTOPHER CHONG            WIRE ROPE CABLE MAINTENANCE MECHANIC
4    PATRICK GARDNER    DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)

     BasePay OvertimePay   OtherPay      Benefits   TotalPay  \
0  167411.18        0.00  400184.25  Not Provided  567595.43
1  155966.02   245131.88  137811.38  Not Provided  538909.28
2  212739.13   106088.18   16452.60  Not Provided  335279.91
3   77916.00    56120.71  198306.90  Not Provided  332343.61
4  134401.60     9737.00  182234.59  Not Provided  326373.19

   TotalPayBenefits  Year
0         567595.43  2011
1         538909.28  2011
2         335279.91  2011
3         332343.61  2011
4         326373.19  2011

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 312882 entries, 0 to 312881
Data columns (total 9 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   EmployeeName      312882 non-null  object
 1   JobTitle          312882 non-null  object
 2   BasePay           312882 non-null  object
 3   OvertimePay       312882 non-null  object
 4   OtherPay          312882 non-null  object
 5   Benefits          312882 non-null  object
 6   TotalPay          312882 non-null  float64
 7   TotalPayBenefits  312882 non-null  float64
 8   Year              312882 non-null  int64
dtypes: float64(2), int64(1), object(6)
memory usage: 21.5+ MB
None

## 2. Function to accept an employee's name as input and returns their details.


def get_employee_details(name, df):
    # Find the employee in the DataFrame
    employee = df[df['EmployeeName'].str.lower() == name.lower()]
    
    # Check if the employee was found
    if employee.empty:
        return f"No employee found with the name: {name}"
    
    # If found, return the employee details as a formatted string
    employee_details = employee.iloc[0]
    
    formatted_details = f"Employee Details for {employee_details['EmployeeName']}:\n"
    formatted_details += f"Job Title: {employee_details['JobTitle']}\n"
    formatted_details += f"Base Pay: ${pd.to_numeric(employee_details['BasePay'], errors='coerce'):,.2f}\n"
    formatted_details += f"Overtime Pay: ${pd.to_numeric(employee_details['OvertimePay'], errors='coerce'):,.2f}\n"
    formatted_details += f"Other Pay: ${pd.to_numeric(employee_details['OtherPay'], errors='coerce'):,.2f}\n"
    formatted_details += f"Benefits: {employee_details['Benefits']}\n"
    formatted_details += f"Total Pay: ${employee_details['TotalPay']:,.2f}\n"
    formatted_details += f"Total Pay & Benefits: ${employee_details['TotalPayBenefits']:,.2f}\n"
    formatted_details += f"Year: {employee_details['Year']}"
    
    return formatted_details

print(get_employee_details("Nathaniel Ford", df))
print("\n")  # Add a blank line for readability
print(get_employee_details("Gary Jimenez", df))

In [52]:
print(get_employee_details("Albert Pardini", df))

Employee Details for ALBERT PARDINI:
Job Title: CAPTAIN III (POLICE DEPARTMENT)
Base Pay: $212,739.13
Overtime Pay: $106,088.18
Other Pay: $16,452.60
Benefits: Not Provided
Total Pay: $335,279.91
Total Pay & Benefits: $335,279.91
Year: 2011

## 3) Function to Process the salary data using a Python dictionary.

In [69]:
# Process salary data into a dictionary
employee_dict = {row['EmployeeName'].lower(): dict(row) for _, row in df.iterrows()}

# Function to get employee details
def get_employee_details(name):
    emp = employee_dict.get(name.lower())
    if emp:
        return f"{emp['EmployeeName']}: {emp['JobTitle']}, Total Pay: ${emp['TotalPay']:,.2f}"
    return f"No employee found: {name}"
    
print(get_employee_details("Nathaniel Ford"))
print(get_employee_details("Gary Jimenez"))

top_earners = sorted(employee_dict.values(), key=lambda x: x['TotalPay'], reverse=True)[:5]
print("\nTop 5 earners:")
for emp in top_earners:
    print(f"{emp['EmployeeName']}: ${emp['TotalPay']:,.2f}")

NATHANIEL FORD: GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY, Total Pay: $567,595.43
GARY JIMENEZ: CAPTAIN III (POLICE DEPARTMENT), Total Pay: $538,909.28

Top 5 earners:
Paulo Morgado: $592,394.34
NATHANIEL FORD: $567,595.43
William J Coaker Jr.: $560,793.00
GARY JIMENEZ: $538,909.28
David Shinn: $471,952.64

In [71]:
# Create a dictionary of employees
employees = {row['EmployeeName'].lower(): dict(row) for _, row in df.iterrows()}

def display_employee_salary(name):
    employee = employees.get(name.lower())
    if employee:
        print(f"Name: {employee['EmployeeName']}")
        print(f"Job Title: {employee['JobTitle']}")
        print(f"Base Pay: ${float(employee['BasePay']):,.2f}")
        print(f"Total Pay: ${employee['TotalPay']:,.2f}")
    else:
        print(f"No employee found with name: {name}")

display_employee_salary("NATHANIEL FORD")
print("\n")
display_employee_salary("GARY JIMENEZ")

Name: NATHANIEL FORD
Job Title: GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
Base Pay: $167,411.18
Total Pay: $567,595.43


Name: GARY JIMENEZ
Job Title: CAPTAIN III (POLICE DEPARTMENT)
Base Pay: $155,966.02
Total Pay: $538,909.28

## 4) Error Handling

In [82]:
def display_employee_salary(name):
    try:
        employee = employees.get(name.lower())
        if employee:
            print(f"Name: {employee['EmployeeName']}")
            print(f"Job Title: {employee['JobTitle']}")
            print(f"Base Pay: ${employee['BasePay']:,.2f}")
            print(f"Total Pay: ${employee['TotalPay']:,.2f}")
        else:
            print(f"No employee found with name: {name}")
    except KeyError as e:
        print(f"Error: Data for field {e} is missing for this employee.")
    except Exception as e:
        print(f"An unexpected error occurred: {e}")

# Error handling
try:
    display_employee_salary("NATHANIEL FORD")
    print("\n")
    display_employee_salary("GARY JIMENEZ")
    print("\n")
    display_employee_salary("OGHENEFEJIRO PRINCESS UTI")
except Exception as e:
    print(f"An unexpected error occurred: {e}")

Name: NATHANIEL FORD
Job Title: GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
An unexpected error occurred: Unknown format code 'f' for object of type 'str'


Name: GARY JIMENEZ
Job Title: CAPTAIN III (POLICE DEPARTMENT)
An unexpected error occurred: Unknown format code 'f' for object of type 'str'


No employee found with name: OGHENEFEJIRO PRINCESS UTI

## 5) Export employee's details in zip file (Employee Profile)

In [90]:
def export_employee_to_zipped_csv(name):
    # code to find the employee 
    employee = df[df['EmployeeName'].str.lower() == name.lower()]
    
    if employee.empty:
        print(f"No employee found with name: {name}")
        return
    
    # Create 'Employee Profile' folder if it doesn't exist
    folder_name = "Employee Profile"
    os.makedirs(folder_name, exist_ok=True)
    
    # Create CSV file name
    csv_file_name = f"{name.replace(' ', '_')}_profile.csv"
    csv_path = os.path.join(folder_name, csv_file_name)
    
    # Export to CSV
    employee.to_csv(csv_path, index=False)
    
    # Create zip file name
    zip_file_name = f"{name.replace(' ', '_')}_profile.zip"
    zip_path = os.path.join(folder_name, zip_file_name)
    
    # Create zip file and add CSV
    with zipfile.ZipFile(zip_path, 'w') as zipf:
        zipf.write(csv_path, csv_file_name)
    
    # Remove the temporary CSV file
    os.remove(csv_path)
    
    print(f"Employee details exported to {zip_path}")

# trying the code
export_employee_to_zipped_csv("PATRICK GARDNER")
export_employee_to_zipped_csv("GARY JIMENEZ")

Employee details exported to Employee Profile\PATRICK_GARDNER_profile.zip
Employee details exported to Employee Profile\GARY_JIMENEZ_profile.zip

## 6) Unzip with R script

In [96]:
library(readr)
library(dplyr)
library(zip)

# Funzip and display employee data
unzip_and_display_employee_data <- function(employee_name) {
  # Replace spaces with underscores in the employee name
  file_name <- gsub(" ", "_", employee_name)
  zip_path <- file.path("Employee Profile", paste0(file_name, "_profile.zip"))
  if (!file.exists(zip_path)) {
    cat("Error: Zip file not found for", employee_name, "\n")
    return(NULL)
  }
  
  temp_dir <- tempdir()
  unzip(zip_path, exdir = temp_dir)
  csv_path <- file.path(temp_dir, paste0(file_name, "_profile.csv"))
  
  # Read the CSV file
  employee_data <- read_csv(csv_path)
  
  # Display the data
  cat("Employee Data for", employee_name, ":\n")
  print(employee_data)
  file.remove(csv_path)

unzip_and_display_employee_data("CHRISTOPHER CHONG")
unzip_and_display_employee_data("GARY JIMENEZ")

SyntaxError: '{' was never closed (1664157301.py, line 6)